@define-color bg          #111111;
@define-color fg          #555555;
@define-color fg-hi       #c8c8c8;
@define-color sep         #1e1e1e;
@define-color border-bot  #252525;
@define-color ws-active   #1c1c1c;

@define-color green       #5a8a5a;
@define-color red         #9e4444;
@define-color amber       #9e7a35;

* {
    font-family: 'SauceCodePro Nerd Font', monospace;
    font-size: 12px;
    font-weight: 400;
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

*:hover {
    background: transparent;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background-color: @bg;
    color: @fg;
    border-bottom: 1px solid @border-bot;
}

#workspaces button {
    color: @fg;
    background: transparent;
    padding: 0 10px;
    min-width: 0;
    box-shadow: none;
    border: none;
    padding: 5 10px;
    border-right: 1px solid @sep;
    transition: none;
}

#workspaces button:first-child {
    border-left: 1px solid @sep;
}

#workspaces button.focused {
    color: @fg-hi;
}

#workspaces button.urgent {
    color: @red;
    background: transparent;
}

#mode {
    padding: 0 10px;
    border-left: 1px solid @sep;
    border-right: 1px solid @sep;
    color: @red;
    font-style: normal;
}

#network,
#custom-uptime,
#wireplumber,
#backlight,
#battery,
#clock.date,
#clock.time,
#custom-user {
    padding: 5 13px;
    border-left: 1px solid @sep;
    color: @fg;
}

#network.wifi,
#network.ethernet,
#network.linked {
    color: @green;
}

#network.disconnected {
    color: @red;
}

#wireplumber.muted {
    opacity: 0.38;
}

#battery.charging,
#battery.plugged {
    color: @green;
}

#battery.warning:not(.charging) {
    color: @amber;
}

#battery.critical:not(.charging) {
    color: @red;
}

#custom-user {
    color: @green;
    border-right: 1px solid @sep;
}
